<html>

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Course Project</title>

     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
    h2{font-family: 'Franklin Gothic Medium';
        color: goldenrod;
        margin-left: 30px;
        margin-top: 20px;}

    h1{font-family: 'Franklin Gothic Medium';
        color: goldenrod;
        margin-left: 30px;
        margin-top: 40px;}

    center{margin-top: 25px;}

    body {
      background-image: url('https://engineering.stanford.edu/sites/default/files/styles/card_1192x596/public/images/news/soe_light_v1.gif?h=bfbc6e7b&itok=s4pZbKFp');



  background-attachment: fixed;
}

  .text-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-family: serif;
        }
        .nav-link:hover {
            background: linear-gradient(to top left, #ffccff 0%, #00ff00 100%);
        }

       p{color: aqua;}
       h3{color: aquamarine;}

</style>

<body   >

    <!---Navbar Start-->

        <nav class="navbar navbar-expand-lg " style="background:transparent;">

          <a class="navbar-brand" href="" target="_blank"><h5><img src="https://media.licdn.com/dms/image/C560BAQETm0mhlZFeqQ/company-logo_200_200/0/1675503582524?e=2147483647&v=beta&t=FlvlvidSDyNqpgt-6Okq1I6wb1a-midaUKx3KJQgfJA"
              alt="navbarlogo" style="width:auto; height: 50px" />  Our Courses</h5></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"></div>

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <div class="navbar-nav">


                <li class="nav-item">
                <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="frontend.html" >FrontEnd</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="backend.html" style="color:white">Backend</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="database.html" style="color:black">Database</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="marketing.html" style="color:black">Marketing</a>
                  </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <img src="https://digitalzap.in/wp-content/uploads/2020/05/content01.png"  alt="" style="width:80%;height:500; margin-left: 80;">


          </div>
          <center>
          <h2>Content Marketing Overview</h2>
        </center>
          <div class="container">
            <div class="row">
              <div class="col-12 mt-3">
                <p calss="p-4">Content marketing is a marketing strategy used to attract, engage,
                    and retain an audience by creating and sharing relevant articles,
                    videos, podcasts, and other media. This approach establishes expertise,
                    promotes brand awareness, and keeps your business top of mind when it's
                    time to buy what you sell.A content marketing strategy establishes your brand as a thought
                    leader, boosting trust among your audience by creating and
                    distributing content in various ways. Content marketing is a
                     type of inbound marketing that attracts customers and builds
                     loyalty, making it effective for customer retention.</p>
            </div>
          </div>

        </div>

            <div class="container mt-5" style="background-color: lightcyan; height: 15%;">
                <div class="row">
                <div class="col-8">
                  <marquee width="60%" direction="top" height="100px">
                    <h2 style="color: black;">Register now ! Only few seats remaining</h2>
                  </marquee>


                </div>
                <div class="col-4">

                        <center style="font-size: 3vw; font-family: serif; color:black;">
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-book"></i> &nbsp; Read More</a>
                        </center>

                </div>
            </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class=" mt-5 ">Let's make your Career in Content Marketing</h3>
                        <p>Learn Professional Content Marketing Course & Live Project Training in your city – MAHARASHTRA</p>
                        <ul class="text-white">

                            <li>100% Job assistance</li>
                            <li>Be a Google certified</li>
                            <li>Learn from industry experts</li>
                            <li>Unlimited Practical Hours</li>
                            <li>Special Class for Personality Development & Interview Questionnaire</li>


                            This is a sample scrolling text that has scrolls texts to down.


                            <center style="font-size: 3vw; font-family: serif; color: blanchedalmond;">
                                <a href="#" class="btn btn-success"><i class="fas fa-book"></i> &nbsp; View Syllabus</a>
                            </center>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img class="mt-4" src="https://cdn.business2community.com/wp-content/uploads/2018/01/content-marketing.png"  alt="" style="width:100%;">
                    </div>
                </div>
            </div>
            <h1 class="font-weight-bold mt-5 text-center">Content Marketing Classes Here!!</h1>
              <div class="row mt-2 justify-content-center">
                <div class="mr-2 mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TkskQD1Lt4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="ml-2 mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TsbB94wmzSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>

               <!-- Copyright -->
        <div class="text-center p-4" style="background-color:#efefef">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">MHTECHIN</a>
        </div>
        <!-- Copyright -->
</body>
</html>
