<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>JS</title>
  </head>
  <style>
    h2{font-family: 'Franklin Gothic Medium';
        color: #00ff00;
        margin-left: 30px;
        margin-top: 25px;}
    body {
      background-image: url('https://engineering.stanford.edu/sites/default/files/styles/card_1192x596/public/images/news/soe_light_v1.gif?h=bfbc6e7b&itok=s4pZbKFp');
      background-attachment: fixed;
     }
     center{margin-top: 25px;}
  </style>

  <body>
    <nav class="navbar navbar-expand-lg " style="background:transparent;">
      <a class="navbar-brand" href="" target="_blank"><h5><img src="https://media.licdn.com/dms/image/C560BAQETm0mhlZFeqQ/company-logo_200_200/0/1675503582524?e=2147483647&v=beta&t=FlvlvidSDyNqpgt-6Okq1I6wb1a-midaUKx3KJQgfJA"
          alt="navbarlogo" style="width:auto; height: 50px" class="text-info"/>  Our Courses</h5></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"></div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="frontend.html" >FrontEnd Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="backend.html" style="color:white">Backend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="database.html" style="color:black">Database</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="marketing.html" style="color:black">Digital Marketing</a>
              </li>
            </div>
          </ul>
      </nav>
      <div class="container">
        <img src="https://media2.giphy.com/media/ln7z2eWriiQAllfVcn/giphy.gif?cid=6c09b9528w36er26ewyvyre0xbu7yppw64yutwk3cexe3xun&ep=v1_stickers_related&rid=giphy.gif&ct=s" style="width:100%;height:500;">
      </div>
      <h2 class="text-center font-weight-bold text-white">About JavaScript Course</h2>
      <div class="container text-white">
        <div class="row">
          <div class="col-12">
            <p calss="p-4">JavaScript, often abbreviated as JS,
              is a programming language that is one of the core
              technologies of the World Wide Web, alongside HTML
               and CSS. As of 2022, 98% of websites use JavaScript
                on the client side for webpage behavior, often incorporating
                third-party libraries.JavaScript is a powerful
                programming language that can add interactivity
                 to a website. It was invented by Brendan Eich.
                 JavaScript is versatile and beginner-friendly.
                 With more experience, you'll be able to create
                 games, animated 2D and 3D graphics, comprehensive
                 database-driven apps, and much more</p>
        </div>
      </div>
    </div>
    <div class="container" style="background-color: black; height: 15%;">
      <div class="row">
            <div class="col-8 text-white"><h2>Register now ! Only few seats remaining</h2></div>
            <div class="col-4">
                <marquee width="60%" direction="top" height="100px">
                    <center style="font-size: 3vw; font-family: serif; color:black;">
                        <a href="#" class="btn btn-danger"><i class="fas fa-book"></i> &nbsp; Read More</a>
                    </center>
                  </marquee>
            </div>
        </div>
        </div>
        <div class="container text-white">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-success mt-4">Let's make your Career in JavaScript</h3>
                    <p>Learn Professional JavaScript Course & Live Project Training in your city – MAHARASHTRA</p>
                    <ul class="text-white">

                        <li>100% Job assistance</li>
                        <li>Be a Google certified</li>
                        <li>Learn from industry experts</li>
                        <li>Unlimited Practical Hours</li>
                        <li>Special Class for Personality Development</li>
                        <li>Interview Questionnaire</li>
                        <center style="font-size: 3vw; font-family: serif; color: blanchedalmond;">
                            <a href="#" class="btn btn-success"><i class="fas fa-book"></i> &nbsp; View Syllabus</a>
                        </center>
                    </ul>
                </div>
                <div class="col-md-6 mt-5">
                    <img class="mt-4" src="https://iwearshorts.com/wp-content/uploads/2015/05/javascript-site-1070x580.jpg" style="width:100%; height:300px;">
                </div>
            </div>
        </div>
        <h1 class="font-weight-bold mt-5 text-center">JavaScript Classes Here!!</h1>
          <div class="row mt-2 justify-content-center">
            <div class="mr-2 mb-5">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/B7wHpNUUT4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="ml-2 mb-5">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3QjtIp1k-4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

           <!-- Copyright -->
    <div class="text-center p-4" style="background-color:#bbff00">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MHTECHIN</a>
    </div>
    <!-- Copyright -->
  </body>
</html>
