<html>

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Course Project</title>

     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
    h2{font-family: 'Franklin Gothic Medium';
        color: goldenrod;
        margin-left: 30px;
        margin-top: 20px;}

    h1{font-family: 'Franklin Gothic Medium';
        color: goldenrod;
        margin-left: 30px;
        margin-top: 40px;}

    center{margin-top: 25px;}

    body {
      background-image: url('https://engineering.stanford.edu/sites/default/files/styles/card_1192x596/public/images/news/soe_light_v1.gif?h=bfbc6e7b&itok=s4pZbKFp');
      background-attachment: fixed;
      }

  .text-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-family: serif;
        }
        .nav-link:hover {
            background: linear-gradient(to top left, #ffccff 0%, #00ff00 100%);
        }

       p{color: aqua;}
       h3{color: aquamarine;}

</style>

<body   >

    <!---Navbar Start-->

        <nav class="navbar navbar-expand-lg " style="background:transparent;">

          <a class="navbar-brand" href="" target="_blank"><h5><img src="https://media.licdn.com/dms/image/C560BAQETm0mhlZFeqQ/company-logo_200_200/0/1675503582524?e=2147483647&v=beta&t=FlvlvidSDyNqpgt-6Okq1I6wb1a-midaUKx3KJQgfJA"
              alt="navbarlogo" style="width:auto; height: 50px" />  Our Courses</h5></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"></div>

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <div class="navbar-nav">


                <li class="nav-item">
                <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="frontend.html" >FrontEnd</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="backend.html" style="color:white">Backend</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="database.html" style="color:black">Database</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning btn-sm mr-3 text-white" aria-current="page" href="marketing.html" style="color:black">Marketing</a>
                  </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <img src="https://atnr.pk/wp-content/uploads/2019/10/10-Social-Media-Marketing.png"  alt="" style="width:80%;height:500; margin-left: 80;">


          </div>
          <center>
          <h2>Social Media Marketing Overview</h2>
        </center>
          <div class="container">
            <div class="row">
              <div class="col-12 mt-3">
                <p calss="p-4">Social media marketing is the use of social media platforms
                    to connect with your audience to build your brand, increase
                    sales, and drive website traffic. This involves publishing
                    great content on your social media profiles, listening to and
                    engaging your followers, analyzing your results, and running
                    social media advertisements.Social media marketing first started with publishing. Businesses
                    were sharing their content on social media to generate traffic to
                    their websites and, hopefully, sales.The major social media platforms (at the moment) are Facebook,
                    Instagram, Twitter, LinkedIn, Pinterest, YouTube, and Snapchat.
                    There are also a range of social media management tools that help
                    businesses to get the most out of the social media platforms listed
                     above.</p>
            </div>
          </div>

        </div>

            <div class="container mt-5" style="background-color: lightcyan; height: 15%;">
                <div class="row">
                <div class="col-8">
                  <marquee width="60%" direction="top" height="100px">
                    <h2 style="color: black;">Register now ! Only few seats remaining</h2>
                  </marquee>


                </div>
                <div class="col-4">

                        <center style="font-size: 3vw; font-family: serif; color:black;">
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-book"></i> &nbsp; Read More</a>
                        </center>

                </div>
            </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class=" mt-5 ">Let's make your Career in Social Media Marketing</h3>
                        <p>Learn Professional Social Media Marketing Course & Live Project Training in your city – MAHARASHTRA</p>
                        <ul class="text-white">

                            <li>100% Job assistance</li>
                            <li>Be a Google certified</li>
                            <li>Learn from industry experts</li>
                            <li>Unlimited Practical Hours</li>
                            <li>Special Class for Personality Development & Interview Questionnaire</li>


                            This is a sample scrolling text that has scrolls texts to down.


                            <center style="font-size: 3vw; font-family: serif; color: blanchedalmond;">
                                <a href="#" class="btn btn-success"><i class="fas fa-book"></i> &nbsp; View Syllabus</a>
                            </center>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img class="mt-4" src="https://www.thinkcept.com/media/resources/social-media-marketing.png"  alt="" style="width:100%;">
                    </div>
                </div>
            </div>
            <h1 class="font-weight-bold mt-5 text-center">Social Media Marketing Classes Here!!</h1>
              <div class="row mt-2 justify-content-center">
                <div class="mr-2 mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/toZrqSyIFYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="ml-2 mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FSTY5fU9YA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>

               <!-- Copyright -->
        <div class="text-center p-4" style="background-color:#efefef">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">MHTECHIN</a>
        </div>
        <!-- Copyright -->
</body>
</html>
